//colors
$bg: #EEEFF1;
$bg-footer: #34547A;
$list-color: black;
$list-hover: blue;
$content: #727272;
$bg-footer-header: white;
$button-text: white;

//sizes
$header-size: 48px;
$header-weight: 500;
$content-size: 16px;
$content-weight: 400;

//spacing between letters
$ls: 1.6px;
$lh: 164%;
$lh-normal: 100%;
$gap: 45px;

//breakpoint
$breakpoint-xs: 375px;
$breakpoint-sm: 760px;
$breakpoint-md: 1024px;





